* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color: #1e202b;
}

/* =====Navbar===== */
.navbar,
.search input,
.sub input {
  background-color: var(--background-color) !important;
}

.logo h1 {
  font-size: initial;
}
.logo small {
  font-size: 10px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #009ad8 !important;
  border-color: #009ad8;
}

.nav-link {
  border: 2px solid transparent;
  padding: 0px 25px !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-left: 5px;
}

.nav-link:hover {
  color: #009ad8 !important;
  border-color: #009ad8;
}

.nav-link {
  transition: color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  -ms-transition: color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, border-color 0.3s;
}

/* =====Search===== */
.main {
  background-image: url(../images/banner.png);
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.search input,
.form-control:focus {
  border: none !important;
  box-shadow: none;
}

.search input::placeholder {
  color: gray;
  opacity: 1;
  font-size: 12px;
}

/* =====weatherData===== */
.forcast-content,.next-forcast-content,
.third-forcast-content{
  min-height: 200px;
}

.show-wheather .forcast-head {
  background-color: #2d303d;
  border-top-left-radius: 10px;
}

.show-wheather .forcast-content{
  border-bottom-left-radius: 10px;
}

.show-wheather .third-forcast-head{
  background-color: #2d303d;
  border-top-right-radius: 10px;
}

.show-wheather .third-forcast-content{
  border-bottom-right-radius: 10px;
}

.show-wheather .next-forcast-head {
  background-color: #222530;
}

.deg .num {
  font-size: 50px;
  color: #fff;
}

.show-wheather .forcast-content ,
.third-forcast-content{
  background-color: #323544;
}

.show-wheather .next-forcast-content {
  background-color: #262936;
    /* padding: 68px 0 !important; */
}

.num .min-deg {
  color: gray;
}

/* =====Footer===== */
footer {
  background-color: #323544;
}

.sub input {
  border: none !important;
}

.sub input:focus {
  box-shadow: none;
}

.sub input::placeholder {
  color: gray;
  opacity: 1;
  font-size: 12px;
}

.icons i {
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
}

.icons i:hover {
  background-color: #009ad8 !important;
  color: #fff !important;
}

.copy-right {
  color: gray;
}


/* =====Contact===== */

.contact{
  background-color: #1e202b;
}

.contact .link{
  background-color: #262936;
}
.contact .link a:hover{
  text-decoration: underline !important;
}
.company-info{
  background-color: #262936;
}
.message input,.message textarea{
  background-color: #1e202b;
  border: 3px solid #262936;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  -ms-transition: border-color .2s;
  -o-transition: border-color .2s;
  color: #fff;
}
.message input:hover,.message textarea:hover{
  border-color: #009ad8;
}
.message input:focus,.message textarea:focus{
  outline: none;
  border-color: #009ad8;
}



/* =====Media Query===== */
